.main-container {

}

.field {
	display: flex;
	flex-direction: column;

}

.title {
	position: flex;
	margin: auto;
	font-size: 20px;
	font-weight: 700;
}

.field-wrap {
	margin: auto;
	margin-top: 10px;
	text-align: center;
}

.field-row {
	display: flex;
	flex-direction: row;
	justify-content: center;

}

.field-cell {
	background-image: url('../img/hole.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 20vh;
	width: 20vh;
	margin: 10px;
	min-height: 56px;
	min-width: 56px;
	cursor: url('../img/hammer.png'), pointer;
}

.goblin {
	background-image: url('../img/goblin.png');
}

